
/* =====================shimmer======================== */
.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-block: 20px;
}

.shimmer-img {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #e0e0e0 25%, #d4d4d4 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmerAnimation 1.5s infinite linear;
  border-radius: 10px;
}

.shimmer-text {
  margin-top: 10px;
  height: 15px;
  background: linear-gradient(90deg, #e0e0e0 25%, #d4d4d4 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmerAnimation 1.5s infinite linear;
  border-radius: 5px;
}

.shimmer-text.short {
  width: 60%;
  height: 12px;
}

.shimmer-text.medium {
  width: 80%;
}

.shimmer-text.long {
  width: 100%;
  height: 20px;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
